**复习：**在前面我们已经学习了Pandas基础，第二章我们开始进入数据分析的业务部分，在第二章第一节的内容中，我们学习了**数据的清洗**，这一部分十分重要，只有数据变得相对干净，我们之后对数据的分析才可以更有力。而这一节，我们要做的是数据重构，数据重构依旧属于数据理解（准备）的范围。

#### 开始之前，导入numpy、pandas包和数据

In [1]:
# 导入基本库
import pandas as pd
import numpy as np

In [2]:
# 载入data文件中的:train-left-up.csv
text = pd.read_csv("train-left-up.csv")
text.head()

,PassengerId,Survived,Pclass,Name
0,1,0,3,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,5,0,3,"Allen, Mr. William Henry"

# 2 第二章：数据重构

### 2.4 数据的合并

#### 2.4.1 任务一：将data文件夹里面的所有数据都载入，观察数据的之间的关系

In [9]:
#写入代码
df_left_up = pd.read_csv("train-left-up.csv")
df_left_down = pd.read_csv("train-left-down.csv")
df_right_up = pd.read_csv("train-right-up.csv")
df_right_down = pd.read_csv("train-right-down.csv")

In [10]:
#写入代码
df_left_up.head()

,PassengerId,Survived,Pclass,Name
0,1,0,3,"Braund, Mr. Owen Harris"
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th..."
2,3,1,3,"Heikkinen, Miss. Laina"
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)"
4,5,0,3,"Allen, Mr. William Henry"

【提示】结合之前我们加载的train.csv数据，大致预测一下上面的数据是什么

#### 2.4.2：任务二：使用concat方法：将数据train-left-up.csv和train-right-up.csv横向合并为一张表，并保存这张表为result_up

In [11]:
#写入代码
list_up = [df_left_up, df_right_up]
result_up = pd.concat(list_up, axis=1)  #axis=1 列

#### 2.4.3 任务三：使用concat方法：将train-left-down和train-right-down横向合并为一张表，并保存这张表为result_down。然后将上边的result_up和result_down纵向合并为result。

In [12]:
#写入代码
list_down = [df_left_down, df_right_down]
result_down = pd.concat(list_down, axis=1)
result = pd.concat([result_up, result_down])  #默认axis=0 行

#### 2.4.4 任务四：使用DataFrame自带的方法join方法和append：完成任务二和任务三的任务

In [13]:
#写入代码
result_up = df_left_up.join(df_right_up)
result_down = df_left_down.join(df_right_down)
result = result_up.append(result_down)

C:\Users\aqizhou\AppData\Local\Temp\ipykernel_9128\2197412462.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result_up.append(result_down)

#### 2.4.5 任务五：使用Panads的merge方法和DataFrame的append方法：完成任务二和任务三的任务

In [14]:
#写入代码
result_up = pd.merge(df_left_up, df_right_up, left_index=True, right_index=True)
result_down = pd.merge(df_left_down, df_right_down,left_index=True, right_index=True)
result = result_up.append(result_down)

C:\Users\aqizhou\AppData\Local\Temp\ipykernel_9128\1840237734.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  result = result_up.append(result_down)

【思考】对比merge、join以及concat的方法的不同以及相同。思考一下在任务四和任务五的情况下，为什么都要求使用DataFrame的append方法，如何只要求使用merge或者join可不可以完成任务四和任务五呢？

- 1.concat既可以按行(axis=0 默认)，也可以按列(axis=1)默认合并两张表。
- 2.append用于行方向拼接，语法简单
- 3.merge和join都用于列拼接 *merge类似于sql，拼接时根据主键将进行列拼接(合并表的列数等于两个原数据表的列数和减去连接键的数量)； *如果合并两个没有相同列名的表，可以直接使用df1.join(df2),无需加其它参数

#### 2.4.6 任务六：完成的数据保存为result.csv

In [15]:
#写入代码
result.to_csv('result.csv')

### 2.5 换一种角度看数据

#### 2.5.1 任务一：将我们的数据变为Series类型的数据

In [16]:
#写入代码
df = pd.read_csv('result.csv')
unit_result = df.stack()    
print(unit_result.head())
print(type(unit_result))


unit_result.unstack()
print(type(unit_result.unstack()))

0  Unnamed: 0                           0
   PassengerId                          1
   Survived                             0
   Pclass                               3
   Name           Braund, Mr. Owen Harris
dtype: object
<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

stack: 将数据从"表格结构"(DataFrame类型)变成"花括号结构"(Series)，即将其列索引变成行索引。
unstack: 数据从"花括号结构"变成"表格结构"，即要将其中一层的行索引变成列索引。